@model Cook.Web.ViewModels.Account.IndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>This is a user list page</h2>

<ul>
    @if (Model.UserNames.Any())
    {
        foreach (var name in Model.UserNames)
        {
            <li>@name</li>
        }
    }
    else
    {
        <li>No Users in Database!</li>
    }
</ul>